* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  height: 100vh;
  height: -webkit-fill-available;
  #__nuxt {
    height: 100vh;
    height: -webkit-fill-available;
    #__layout {
      height: 100vh;
      height: -webkit-fill-available;
      > div {
        height: 100vh;
        height: -webkit-fill-available;
      }
    }
  }
}

h1 {
  margin: 0;
}

.el-input__inner {
  font-size: 16px;
}
